.item-art {
  background-color: aliceblue;
  border: 1px;
  padding: 8px;
  color: rgb(16, 16, 90);
  border-radius: 16px 16px 0px 0px;
  font-weight: bolder;
  justify-content: center;
}
.item-art img {
  height: 80px;
  width: 80px;
  border-radius: 50%;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.item-all {
  width: 350px;
  display: block;
  flex: none;
  border-radius: 16px;
  padding: 10px;
  background-color: rgb(24, 26, 148);
  justify-content: center;
}
.item-repo {
  color: rgba(5, 5, 59, 0.986);
  background-color: grey;
  padding: 10px;
  border-radius: 0px 0px 16px 16px;
  font-weight: bold;
  overflow: hidden;
}
.item-repo a {
  color: beige;
  text-decoration: none;
  background-color: blue;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.container {
  display: inline-block;
  flex-wrap: flex;
  flex-direction: column;

  border-spacing: 20px;

  padding: 20px;
}
.red {
  background-color: red;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  color: aliceblue;
  font-weight: bolder;
}
.green {
  background-color: green;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  color: aliceblue;
  font-weight: bolder;
}

.abt {
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: auto;
  text-align: center;
}
.abt img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  
}
.abt span {
  color:rgb(114, 114, 121);
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}
.abt a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}
.rep {
  padding: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.rep a {
  color: rgb(17, 16, 16);
  text-decoration: none;
  background-color:rgb(255, 255, 255); 
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
}

.rep1 {
  margin: auto;
  padding: 4.5px;
  color: rgb(156, 85, 85);
  background-color: rgb(58, 85, 31);
  width: 150px;
  height: 80px;
}
.paginationBttns a {
  display: inline;
  color: rgb(180, 180, 211);
  padding: 11px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  border: 1px solid aliceblue;
  border-radius: 5px;
  cursor: pointer;
}
.paginationBttns a:hover {
  background-color: rgba(216, 205, 205, 0.986);
  color: rgb(4, 9, 82);
}
.paginationBttns {
  justify-content: center;
  padding: 10px;
  margin: auto;
  display: flex;
  text-align: center;
  list-style-type: none;
  width: 80%;
  height: 40px;
}
.paginationActive a {
  background-color: rgba(216, 205, 205, 0.986);
  color: rgb(4, 9, 82);
}

.paginationDisabled a {
  background-color: rgba(107, 90, 90, 0.986);
  color: rgb(225, 225, 228);
  cursor: not-allowed;
}
.all-repo {
  margin: auto;
  

  
}

.err {
  color: crimson;
  font-weight: bolder;
  align-content: center;
}
.err-cont {
  border: 2px solid white;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 200px;
  justify-self: center;
  background-color: gray;
  padding: 10px;
}
.err-cont a {
  color: rgb(83, 68, 68);
  font-weight: bolder;
  align-content: center;

  text-decoration: none;
  font-size: 30px;
  background-color: rgb(24, 36, 199);
  border-radius: 8px;
  padding: 10px;
}
.err-cont a:hover {
  background-color: antiquewhite;
  color: black;
}

.rep1-cont {
  position: fixed;
  top: 50%;
  left: 50%;
}

.load {
  color: antiquewhite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 10px solid rgba(204, 189, 189, 0.5);
  border-top: 10px solid rgb(0, 0, 0);
  border-radius: 50%;
  animation: spin linear infinite;
  animation-delay: 3s;

  z-index: 1000;
}


input[type="radio"] {
  display: none;
}

input[type="radio"] + label:before {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: rgb(194, 69, 69);
  display: inline-block;
  margin-right: 10px;
}

input[type="radio"]:checked + label:before {
  color: #f4b400;
}
