body {
  margin: 0;
  padding: 10px;
  
  background-color: rgb(5, 5, 36);

 
  height: 100%vh;
}

.nav-bar a {
  display: inline-block;
  color: rgb(24, 26, 148);
  padding: 11px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}

.nav-bar {
  background-color: rgb(255, 255, 255);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 15px;
}

.nav-bar a:hover {
  background-color: rgb(24, 26, 148);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.nav-bar a.active {
  color: rgb(255, 255, 255);
}
