body {
  margin: 0;
  padding: 0;
  background-color: #101010;
 
  height: 100%vh;
}

.nav-bar a {
  display: inline-block;
  color:  #101010;
  padding: 11px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}

.nav-bar {
  background-color: rgb(255, 255, 255);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 15px;
}

.nav-bar a:hover {
  background-color:  #101010;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.nav-bar a.active {
  color: rgb(17, 16, 16);
}

.nav-bar img {
 padding: 10px;
}

.mainimg {
  position: absolute;
  width: 120px;
  height: 120px;
  right: 0px;
  top: 0px;
  border-radius: 50%;
}
